* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "microsoft yahei", arial;
  font-size: 12px;
  color: #212121;
}
img {
  border: 0px;
}
ul {
  list-style: none;
}
a {
  color: #212121;
}
a:visited {
  color: #212121;
}
.zt-wrap {
  width: 1100px;
  margin: 0px auto;
}
.zt-title {
  width: 1000px;
  margin: 0px auto;
  height: 65px;
  position: relative;
}
.zt-title .title-left,
.zt-title .title-right {
  position: absolute;
}
.clear {
  clear: both;
}
.tabs li {
  cursor: pointer;
}
.tabs li.on h3 {
  color: #01736D;
}
.tab-content ul {
  position: absolute;
  top: 45px;
  left: 0px;
  display: none;
}
.tab-content ul.active {
  display: block;
}
.slide-text {
  display: none;
  *background-image: url("http://localhost:9011/resource/special/ffmtx-0914/images/slidetxt.png");
}
.zt-box {
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
/*专题头部*/
.zt-head {
  height: 392px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/bg_01.png);
}
/*flashshow*/
.flashshow {
  height: 517px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/bg_02.png);
}
/*newsfocus*/
.newsfocus {
  height: 758px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/bg_03.png);
}
/*行程安排*/
.stroke {
  height: 758px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/bg_04.png);
}
.stroke .stroke-body {
  padding-top: 300px;
}
.stroke .stroke-body .tab-part {
  height: 356px;
  position: relative;
}
.stroke .stroke-body .tab-part .tabs {
  width: 100%;
  background-repeat: no-repeat;
}
.stroke .stroke-body .tab-part .tabs ul {
  width: 100%;
  padding-top: 16px;
  position: relative;
  height: 340px;
}
.stroke .stroke-body .tab-part .tabs ul li {
  height: 35px;
  position: absolute;
  width: 150px;
}
.stroke .stroke-body .tab-part .tabs ul li i {
  width: 20px;
  height: 30px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/mappiont.png);
  background-position: top center;
  position: absolute;
  left: 0px;
  top: 5px;
}
.stroke .stroke-body .tab-part .tabs ul li a {
  color: #000000;
  font-size: 16px;
  /*width: 35px;*/
  /*background-image: url(http://p1.ifengimg.com/l/2016/31/74dc299a3fb7834/abg.png);*/
  height: 35px;
  border-radius: 20px;
  line-height: 35px;
  margin-left: 26px;
}
.stroke .stroke-body .tab-part .tabs ul li.city1 {
  top: 151px;
  left: 121px;
}
.stroke .stroke-body .tab-part .tabs ul li.city2 {
  top: 170px;
  left: 407px;
}
.stroke .stroke-body .tab-part .tabs ul li.city3 {
  top: 119px;
  right: 227px;
}
.stroke .stroke-body .tab-part .tabs ul li.city4 {
  top: 277px;
  left: 236px;
  display: none;
}
.stroke .stroke-body .tab-part .tabs ul li.active a {
  background: none;
}
.stroke .stroke-body .tab-part .tab-contents {
  width: 100%;
  position: absolute;
  top: 236px;
  left: 530px;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content {
  padding-top: 6px;
  height: 350px;
  position: absolute;
  display: none;
  padding-left: 28px;
  background-image: url(http://localhost:9011/resource/special/ffmtx-0914/images/tabconbg.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content.city1con {
  top: -20px;
  left: -384px;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content.city2con {
  top: -25px;
  left: -63px;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content.city3con {
  top: -41px;
  left: 19px;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content .tab-content-right {
  width: 625px;
  height: 300px;/*padding-top: 75px;*/
}
.stroke .stroke-body .tab-part .tab-contents .tab-content .tab-content-right h5 {
  font-size: 24px;
  padding-left: 50px;
  margin-bottom: 10px;
  font-weight: 100;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content .tab-content-right p {
  font-size: 15px;
  color: #444;
  line-height: 2;
  padding-left: 50px;
  text-indent: 2em;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content .tab-content-right p a {
  display: block;
}
.stroke .stroke-body .tab-part .tab-contents .tab-content.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */
